/*
 * Main content
 */

#page {
  max-width: 640px;

  padding-bottom: 4em;

  h1 {
    margin-bottom:.6em;
  }

  h2 {
    border-bottom: 1px solid #eee;
    position:relative;
    cursor: default;

    &:before {
      content: '\f078';
//      content: '\f054';
      font-family: 'FontAwesome';
      font-size:0.6em;
      line-height: 1.8em;
      color: #ddd;
      position: absolute;
      left: -1.3em;
      top: 1px;
      -webkit-transition: all 0.3s
    }

    &.collapsed:before {
      -webkit-transform: rotate(-90deg);
      -webkit-transform-origin: center center;
    }

    &.collapsed:hover:before {
      color: #88f;
    }

  }

  h2.collapsed {

  }

  h3 {
    margin-top:1.5em;
  }


  pre {
    word-break: pre;
    overflow-x: auto;

    code {
      overflow-x: auto;
      display:block;
    }
  }


}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}
