@import "off-canvas";
@import "sidebar";
@import "content";
@import "header";
@import "homepage";

body {
  padding-top: 50px;
}



body {
  padding-top: 51px;
  width:100%;
  max-width:100%;
  overflow-x:hidden;
}

.container {
  width: auto;
}

.text-center {
  padding-top: 20px;
}



